<!DOCTYPE html>
<html>
<head>
  <title>URLockBox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <div class="flash_messages">
      <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>
    <% if !user_signed_in? %>
    <%= link_to "sign up", new_user_session_path %>
    <% else %>
    <%= link_to "sign out", destroy_user_session_path, url_options = {method: 'delete'} %>
    <% end %>
    <%= yield %>
  </div>

</body>
</html>
